body {
    overflow-x: hidden; 
}
/* img:hover {
    transform: rotateY( 360deg );
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
} */
.carousel-inner {
    overflow: visible;
}
/* header start */
header {
    height: 600px;
    width: 100%;
}
.navbar {
    width: 100%;
    background-color: rgb(107, 128, 169) !important;
}
.navbar-nav li {
    margin-left: -2%;
    width: 200px;
    font-weight: 500 !important;
}
.navbar-nav li a:hover {
    text-decoration: underline;
    font-weight: bold !important;
    color: rgb(54, 46, 89) !important;
}
.navbar-brand {
    margin-left: 2%;
}
.navbar-collapse {
    margin-left: 5%;
}
.carousel-caption p {
    color: rgb(3, 22, 56);
    font-size: 14px;
}
.carousel-caption {
    padding-bottom: 150px;
}
.carousel-item img {
    height: 720px;
}
.welcome {
    font-size: 25px !important; 
}
.header_descraption {
    padding-bottom: 150px;
}
.header_opation ul li {
    display: inline-block;
    margin-left: 20px;
}
.header_opation ul li a {
    color: rgb(83, 35, 131);
    text-decoration: underline;
}
.header_opation ul li a:hover {
    color: rgb(16, 9, 143);
    text-decoration: none;
}
/* header end */

/* what new start */ 
#what_new {
    margin-top: 250px;
}
.section_title p {
    font-size: 22px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, Courier, monospace;
    color: rgb(74, 18, 128);
}
.section_descriaption p {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(133, 56, 133);
}
.section_body_data img {
    height: 300px;
}
.section_body {
    margin-top: 70px;
}
.section_body_data {
    margin-top: 30px;
}
.section_body_data_image .second_face {
    display: none;
}
.section_body_data_image:hover .first_face {
    display: none;
}
.section_body_data_image:hover .second_face {
    display: block;
    margin-left: 20%;
}
.section_body_data_desciraption {
    margin-top: 10px;
}













