body {
    overflow-x: hidden; 
}
/* img:hover {
    transform: rotateY( 360deg );
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
} */
.carousel-inner {
    overflow: visible;
}
/* header start */
header {
    height: 600px;
    width: 100%;
}
.navbar {
    width: 100%;
    background-color: rgb(107, 128, 169) !important;
}
.navbar-nav li {
    margin-left: 0%;
    width: 200px;
    font-weight: 500 !important;
}
.navbar-nav li a:hover {
    text-decoration: underline;
    font-weight: bold !important;
    color: rgb(54, 46, 89) !important;
}
.navbar-brand {
    margin-left: 2%;
    font-size: 20px !important;
    font-weight: bold;
    color: #3326aa !important;
}
.navbar-collapse {
    margin-left: 5%;
}
.carousel-caption p {
    color: rgb(3, 22, 56);
    font-size: 14px;
}
.carousel-caption {
    padding-bottom: 150px;
}
.carousel-item img {
    height: 720px;
    opacity: 0.7;
}
.welcome {
    font-size: 25px !important; 
}
.header_descraption {
    padding-bottom: 150px;
}
.header_opation ul li {
    display: inline-block;
    margin-left: 20px;
}
.header_opation ul li a {
    color: rgb(50, 20, 80);
    text-decoration: underline;
}
.header_opation ul li a:hover {
    color: rgb(16, 9, 143);
    text-decoration: none;
}
/* header end */

/* what new start */ 
#what_new {
    margin-top: 250px;
}
.section_title p {
    font-size: 22px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, Courier, monospace;
    color: rgb(74, 18, 128);
}
.section_descriaption p {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(133, 56, 133);
}
.section_body_data img {
    height: 300px;
}
.section_body {
    margin-top: 70px;
}
.section_body_data {
    margin-top: 30px;
}
.section_body_data_image .second_face {
    display: none;
}
.section_body_data_image:hover .first_face {
    display: none;
}
.section_body_data_image:hover .second_face {
    display: block;
    margin-left: 20%;
}
.section_body_data_desciraption {
    margin-top: 10px;
}
/* what new end */

/* dress gallery start */
#dress_gallery {
    margin-top: 50px;
}
.w3ls-section{
	padding: 5% 0px;
}
.w3ls-section h3 {
    color: rgb(224, 219, 219);
    text-shadow:  2px 2px rgb(163, 76, 156);
} 
/*-- portfolio-page --*/
.w3ls-section{
	padding: 5% 0px;
}
/*-- portfolio-page --*/
#port h3.w3l-head,#contact h3.w3l-head {
    color: #fff;
}
.scrollbar.agileits-portfolio-scroll {
    overflow: initial;
}
div#gallery {
    background:#4a1280;
}
.port-head {
    text-align: center;
}
figure.w3ls-gallery {
    margin: 0;
    padding: 0;
    position: relative;
    display: block;
    cursor: pointer;
    overflow: hidden;
}
figure img {
    height: 300px;
    width: 300px;
    
}
figure.w3ls-gallery:hover figcaption.w3layouts-caption {
    -ms-filter: alpha(Opacity=100);
    filter: alpha(opacity=100);
    opacity: 1;
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
    top: 0;
}

figcaption.w3layouts-caption {
    -ms-filter:alpha(Opacity=0);
    filter: alpha(opacity=0);
    opacity: 0;
    position: absolute;
    height: 70%;
    width: 100%;
	top: -100%;
    background: rgba(6, 96, 147, 0.77);
    color: #fff;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
    -webkit-transition-delay: .5s;
    -moz-transition-delay: .5s;
    -o-transition-delay: .5s;
    -ms-transition-delay: .5s;
    transition-delay: .5s;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
	    text-align: center;
}
figcaption h5 {
    font-size: 1.7em;
    color: #fff;
    margin-bottom: 0;
    position: relative;
    left: 100%;
    text-transform: capitalize;
    margin-top: 10px;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    -ms-transition: all .5s;
    transition: all .5s;
    -webkit-transition-delay: 1s;
    -moz-transition-delay: 1s;
    -o-transition-delay: 1s;
    -ms-transition-delay: 1s;
    transition-delay: 1s;
}
figure:hover h5 {
    left: 0;
}
figcaption a {
    color: #fff;
    border: 2px solid #fff;
    padding: 4px 10px;
    text-decoration: none;
}
figcaption a:hover {
    color: #4f5856;
    background: #fff;
}

figure.w3ls-gallery:hover h3,figure.w3ls-gallery:hover p {
    left: 0;
}

figcaption.w3layouts-caption a {
    color: #fff;
    border: 2px solid #fff;
    padding: 4px 0px;
    text-decoration: none;
}

figcaption.w3layouts-caption:hover {
    color: #4f5856;
}
.gallery {
    padding: 6em 0;
}
.ga-top{
	margin-bottom:3em;
}

.filtr-item {
    padding: 0em;
   width: 24.8%;
    float: left;
}
.filtr-container {
	width:100%;
}
.item-desc {
    background-color: rgba(0,0,0,0.5);
    color: white;
    position: absolute;
    text-transform: uppercase;
    text-align: center;
    z-index: 1;
}
/* Filter controls */
.simplefilter li{
    color: #000;
    cursor: pointer;
    display: inline-block;
    padding: 10px 20px;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1px;
    margin: 0 12px;
    text-transform: uppercase;
    border: none;
    background: none;
    border-bottom: 5px solid #fff;
}
.simplefilter li {
    border: 1px solid transparent;
    background: none;
    position: relative;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -o-transition: 0.5s all;
    letter-spacing: 2px;
    color: #fff;
    font-size: 1em;
}
.simplefilter li.active, .simplefilter li:hover {
    color: #fff;
    background: #c9548a;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -o-transition: 0.5s all;
}

/* Shuffle and sort controls */
select {
    padding: 1rem 1rem;
    text-transform: uppercase;
}
.sortandshuffle .shuffle-btn {
    background-color: #dec800;
}
.sortandshuffle .sort-btn {
    background-color: #de0000;
}
.sortandshuffle .sort-btn.active {
    background-color: #9d0000;
}
/*----*/
.filtr-item {
    transform: scale(1) translate3d(0px, 0px, 0px);
	-o-transform: scale(1) translate3d(0px, 0px, 0px);
    transition: all 0.5s ease-out 0ms;
	-o-transition: all 0.5s ease-out 0ms;
	transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
}

/*----*/
ul.simplefilter {
    text-align: center;
	margin:4em 0;
}
.wthree-s1:hover h4 {
    color: #fff;
}
.veiw-more {
	border: none;
	background-color: #3d0b3f;
    color: #f4edf7;
    width: 150px;
	margin-top: 40px;
	font-size: 20px;
	border-radius: 20px;
	animation: 1s ease-out 0s 1 slideInFromLeft;
}

.veiw-more:hover {
	border: none;
	background-color: #f4edf7;
    color: #3d0b3f;    
}
/* dress gallery end */

/* ACCESSORIES start */
#accessoires {
    margin-top: 50px;
}
/* ACCESSORIES end */

/* About start */ 
#about {
    margin-top: 80px;
}
#about .section_descriaption {
    padding-bottom: 100px;
}
.footer_body_firfox {
    width: 130%;
    margin-left: 80px;
    margin-top: -280px;
}

.footer_body_contain {
    margin-left: 60px;
}
#about .footer_body_ {
    right: 0;
    left: 11%;
}
.footer_cloumn_title {
    color:  #3d0b3f;
    font-size: 23px;
    font-weight: 500;
    text-align: left;
    padding-bottom: 30px;
}
.footer_cloumn_dec {
    color: rgb(65, 63, 63);
    font-size: 12px;
    text-align: left;
}
ul {
    list-style-type: none;
    text-align: left;
    margin-left: -34px;
}
footer ul li {
    padding-top: 10px;
}
footer ul li a {
    color: rgb(65, 63, 63);
    
}
.footer_cloumn_dec .email {
    margin-top: 30px;
    height: 50px;
    background-color: rgb(190, 195, 199);
    border-color: rgb(50, 51, 51);
    color: rgb(50, 51, 51);
    padding-bottom: 20px;
    padding-top: 20px;
    margin-top: 20px;
}
.footer-mail:hover {
    cursor: pointer;
}
.footer_icon {
    margin-top: 10px;
    margin-left: 40px;
}
footer .carousel-item img {
    margin-top: 70px;
    height: 260px;
}
